.playlist-tile {
  width: 100%;
  height: 70px;
  padding-bottom: 1rem;
  position: relative;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out, background-color .25s ease;
}

.playlist-tile:hover {
  background-color: #FFDFDF;
}

.inline-row {
  display: inline-block;
}

.playlist-name {
  padding-left: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.playlists {
  padding: 0 0 0 1rem;
}

.playlist-image-tile {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.playlist-image-tile-row {
  width: 60px;
}

nav {
  text-align: right;
}

nav ul li {
  display: inline-block;
  padding-right: 1rem;
}

nav ul li a {
  text-decoration: none;
}

.about {
  padding-left: 1rem;
}

.home {
  padding-left: 1rem;
}

.account {
  padding-left: 1rem;
}

.playlists div a {
  text-decoration: none;
  color: black;
}

.playlists div a:focus {
  color: black;
}
